<h3>Agriculture</h3>

<h4>Distribuzione del verde urbano e della popolazione più vulnerabile (<%= link_to 'Profilo Climatico', 'assets/profilo.pdf' %>)</h4>

<%= image_tag "agriculture/verde_per_tipologia.JPG", :style => "width:70%; float:right; margin-left:1em;" %>

<p>  
A fronte di una superficie comunale di circa 14.000 ha, il verde pubblico si compone di oltre 750 aree che superano i 1.100 ha di estensione, pari a circa il 9% del territorio comunale. I parchi e giardini sono 250, per una superficie complessiva di 600 ettari, ai quali si aggiungono il verde di arredo stradale e quello dei centri sportivi, con 110 ettari di superficie ciascuno, il verde scolastico, quello legato ad altri edifici pubblici o a insediamenti abitativi e varie aree marginali, per un totale di 170 ha, e gli orti gestiti dai centri sociali, che superano i 10 ha di superficie. I parchi e giardini costituiscono la dotazione più importante e la struttura sulla quale si impernia il sistema del verde della città. In questa definizione sono compresi i parchi e giardini del centro storico e delle periferie, i parchi collinari e ampie porzioni dei parchi lungo fiume. I centri sportivi, gli spazi scolastici e gli orti, spesso inclusi all’interno di parchi e giardini o a essi adiacenti, ma anche il verde di arredo stradale e le rimanenti categorie svolgono in molti contesti un’importante ruolo di completamento del sistema del verde. Il verde pubblico fruibile per abitante è di circa 20 m2, mentre se si considerano anche le altre categorie di verde, la superficie a disposizione di ogni bolognese sale a 30 m2 e colloca Bologna al terzo posto tra le grandi città italiane (con più di 200.000 abitanti) come dotazione pro-capite di verde urbano, dopo Padova e Venezia. Il patrimonio arboreo conta circa 100.000 alberi nei parchi e nei giardini e circa 18.000 esemplari nelle alberate stradali. La città include o si trova in prossimità di parchi e zone verdi di notevole ampiezza: la collina di Bologna, oggetto di percorsi di valorizzazione, comprende 180 ha di parchi pubblici, e si presenta pressoché inedificata nella restante superficie.</p>

<p>
Se si considera la disponibilità complessiva di verde, includendo sia le superfici “verdi” - verde urbano, aree agricole alberate e aree vegetate non coltivate (boschi) – sia le aree ombreggiate dalle chiome degli alberi, la disponibilità media di verde risulta superiore ai 60 m2/ab, ma con valori anche molto differenti all’interno delle differenti sezioni censuarie. 
</p>


<p>
Si può infatti osservare che le sezioni censuarie che comprendono zone collinari e agricole sono caratterizzate da percentuali assolute di verde e da disponibilità di verde per abitante generalmente elevate. Negli ambiti storici e consolidati, invece, la disponibilità di verde è nettamente inferiore, con una prevalenza di sezioni dove la percentuale è compresa tra lo zero e il 5% e la disponibilità di verde per abitante è inferiore ai 5 m2.
</p>

<%= image_tag "agriculture/verde_per_abitante.JPG", :style => "width:90%;" %>
<%= image_tag "agriculture/verde_per_sezione_censuraia.JPG", :style => "width:90%;" %>

<p>
In un contesto urbano come quello di Bologna, il verde pubblico presenta importanti funzioni igienico sanitarie ed ecologiche: depurazione dell’aria, produzione di ossigeno, fissazione dei gas e abbattimento del particolato aerodisperso, diminuzione dell’inquinamento acustico, azione termoregolatrice del microclima cittadino, ecc.  Occorre quindi porre particolare attenzione alla distribuzione del verde pubblico sul territorio comunale, in particolare per quanto riguarda quelle zone della città in cui è presente un maggior numero di persone considerate “potenzialmente” più a rischio, come gli over 65 e i bambini con meno di 4 anni.</p>

<p>La popolazione di 65 anni e oltre è prevalentemente distribuita nelle aree più densamente abitate del territorio comunale, con una particolare concentrazione nei quartiere Savena (Zona Mazzini) e Navile, dove sono presenti le sezioni censuarie con il maggior numero di anziani.</p>

<p>
La popolazione con meno di 4 anni è più uniformemente distribuita sul territorio, ma si può osservare una prevalenza di sezioni censuarie con un relativamente alto numero di bambini piccoli in prossimità degli ambiti storici di antica formazione (es. Santo Stefano) e in zone più esterne rispetto al centro storico, in particolare nei quartieri Navile e Savena. </p>


<%= image_tag "agriculture/distribuzione_della_popolazione_under_4_e_over_65.JPG", :style => "width:90%;" %>
<br/>
<%= image_tag "agriculture/popolazione_residente_di_65_anni_e_oltre.JPG", :style => "width:90%;" %>
<p>
Si considerano particolarmente critiche dal punto di vista della vulnerabilità della popolazione rispetto alle isole di calore, le sezioni censuarie dove la percentuale di verde disponibile è bassa e contemporaneamente la percentuale di popolazione sopra i 65 anni e minore di 4 anni più elevata. La vulnerabilità della popolazione, tuttavia, va vista anche in base ai dati medi relativi al reddito pro-capite, disponibili per ogni quartiere: il centro storico, ad esempio, e alcune parti del quartiere Savena, sono sì caratterizzati da una elevata percentuale di popolazione sopra i 65 anni e da una percentuale di verde pro-capite inferiore ad altri quartieri, ma si distinguono per un reddito medio pro-capite più elevato rispetto ad altre zone della città, che abbassa sensibilmente il livello di vulnerabilità. Il livello di vulnerabilità può invece essere considerato alto nei Quartieri Navile (Zona Bolognina), San Donato e Borgo Panigale, che si caratterizzano come i Quartieri con reddito medio più basso, e presentano una distribuzione del verde disomogenea, seppure più elevata che in altri Quartieri. Nelle  tavole 11 e 12 sono rappresentate le sezioni censuarie con percentuale di verde minore o uguale al 5% e la percentuale di popolazione anziana presente. Questa fotografia può dare una prima indicazione delle aree più a rischio in cui concentrare l’attenzione per la predisposizione delle strategie di adattamento climatico. Un punto di partenza può essere considerato il progetto Life+ GAIA - Green Areas Inner City Agreement, (http://www.lifegaia.eu/IT/index.xhtml) che ha permesso, nelle aree verdi di Bologna, la piantagione di 3000 alberi, scelti delle specie con maggiore potenziale di assorbimento di inquinanti e minore rischio allergenico, con l'obiettivo di contrastare i cambiamenti climatici e migliorare la qualità dell'aria e l'ambiente urbano.</p>
<br/>
<%= image_tag "agriculture/popolazione_under_e_over_65_con_meno_del_5__di_verde.JPG", :style => "width:90%;" %>
<br/>
<%= image_tag "agriculture/popolazione_di_65_anni_e_oltre_per_sezione.JPG", :style => "width:90%;" %>
<br/>

<%= link_to 'Buone Pratiche (PDF)', 'assets/pratiche.pdf' %>