<% content_for :head do %>
  <script type="text/javascript">
    PDFJS.workerSrc = "<%= path_to_javascript 'pdf.worker.js' %>";
  </script>
  <%= javascript_include_tag "load_pdfs.js" %>
<% end %>

<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>
</div>

<div style = "background-color:white;"> 

  <div class = "wide row">
    <div class = "small-12 columns">
    <h1>
      <%= link_to 'Azioni', '#', :class => "active ai_switch", 
        :data => { :target => "#badge_list" } %> / 
      <%= link_to 'Info.', '#', :data => { :target => "#info_embed" }, 
      :class => "ai_switch" %>
    </h1>
    </div>
  </div>
<!--
  <ul class = "wide row category_tabs">
    <li class = "medium-4 large-1 columns">
      <button class = "active" data-target = ".badge"><%= image_tag 'all.png' %><span>All</span></button>
    </li>  
    
    <% last_k = Action::CATEGORIES.keys.last %>
    <% Action::CATEGORIES.each do |hashtag, name| %>
      <% end_class = last_k.eql?(hashtag) ? "end" : ""  %>
      <li class = "medium-2 large-1 columns <%=end_class%>">
        <button data-target = ".<%= hashtag %>"><%= image_tag "#{hashtag}.png" %><span><%= name %></span></button>
      </li>
    <% end %>
  </ul>
  -->
  <div class="wide row">
    <% for action in @actions %>
      <% standard  = Action::CATEGORIES.keys.include?(action.hashtag) ? "standard" : "nonstandard" %>
      <div class="medium-6 large-4 columns <%= action.hashtag %> <%= standard %>">
        <%= render 'actions/tweet_card', action: action %>
      </div>
    <% end %>
  </div>

  <div class = "information hidden" id = "info_embed" >
    <div class = "info_embed badge " id = "blueap_intro">
      
      <p><%= link_to "Il Progetto BLUE AP", "http://www.blueap.eu/site/il-progetto/", :target=> "_blank" %>, nasce con l’obiettivo di dotare la città di Bologna di un piano di adattamento al cambiamento climatico, che preveda anche la sperimentazione di alcune misure concrete da attuare a livello locale, per rendere la città meno vulnerabile e in grado di agire in caso di alluvioni, siccità e altre conseguenze del mutamento del clima.</p>

      <canvas style = "width:100%;" id = "brochure_canvas"></canvas>

      <%= image_tag 'bologna_piazza.jpg' %>
    </div>

    <% Action::CATEGORIES.each do |hashtag, name| %>
      <div class = "<%= hashtag %> hidden info_embed badge">
      <%= render "#{hashtag}_info" rescue "No info" %>
      </div>
    <% end %>
  </div>

<div class = "clear"></div>
</div>

<% content_for :javascript_footer do %>
  $('a.ai_switch').click(function(e){ 
    $('a.ai_switch').removeClass('active');
    $(this).addClass('active');

    $('#badge_list').hide();
    $('#info_embed').hide();
    var tar = $(this).attr('data-target');
    $(tar).show();
  });

  $('ul.badge_tabs li button').click(function(e){ 
    $('li.badge').hide();
    $('div.info_embed').hide();

    $('ul.badge_tabs li button').removeClass('active');
    $(this).addClass('active');
    
    var t = $(this).attr('data-target');

    if (t == ".blueapcall"){ console.log("call"); $('li.badge.nonstandard').show();  }
    
    $('li'+t).show();
    if (t == ".badge"){ $('div#blueap_intro').show(); } else { $('div.info_embed'+t).show(); }
    
  });
<% end %>