<% content_for :head do %>
  <script type="text/javascript">
    PDFJS.workerSrc = "<%= path_to_javascript 'pdf.worker.js' %>";
  </script>
  <%= javascript_include_tag "load_pdfs.js" %>
<% end %>

<div class="contain-to-grid sticky">
  <nav class="wide top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Classifiche: </a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>  -->

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#" data-target = ".badge">&#35;All</a></li>
      <% Action::CATEGORIES.each do |hashtag, name| %>
        <li><a data-target = ".<%= hashtag %>">&#35;<%= hashtag %></a></li>
      <% end %>
    </ul>


  </section>
</nav>
</div>

<div class = "trans_background"> 
  <br/>
  <div class = "wide row">
    <div class = "large-4 medium-6 small-12 columns">
    <h1 style = "background-color: #FFF; padding: 3% 0em; text-align: left; border-radius: 5px; text-indent: 3%;">
      <%= link_to 'Azioni', '#', :class => "active ai_switch", 
        :data => { :target => "#action_list" } %> / 
      <%= link_to 'Info.', '#', :data => { :target => "#info_embed" }, 
      :class => "ai_switch" %>
    </h1>
    </div>
  </div>
  <br/>
  <div class="wide row" id = "action_list">
    <% for action in @actions %>
      <% standard  = Action::CATEGORIES.keys.include?(action.hashtag) ? "standard" : "nonstandard" %>
      <div class="medium-6 large-4 columns badge <%= action.hashtag %> <%= standard %>">
        <%= render 'actions/tweet_card', action: action %>
      </div>
    <% end %>
  </div>

  <div class = "information hidden wide row" id = "info_embed" >
    <div class = "info_embed badge " id = "blueap_intro">
      
    
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt egestas diam ac lacinia. Fusce varius, lacus sed fermentum efficitur, purus magna tincidunt sapien, feugiat blandit turpis mi sit amet libero. Aenean eu sagittis metus, nec aliquam lorem. Morbi varius nisl non purus sagittis posuere. Cras quis tortor vitae. </p>

      <%= image_tag 'bologna_piazza.jpg', style: "width:40%; float:left; margin:1em; " %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt egestas diam ac lacinia. Fusce varius, lacus sed fermentum efficitur, purus magna tincidunt sapien, feugiat blandit turpis mi sit amet libero. Aenean eu sagittis metus, nec aliquam lorem. Morbi varius nisl non purus sagittis posuere. Cras quis tortor vitae. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt egestas diam ac lacinia. Fusce varius, lacus sed fermentum efficitur, purus magna tincidunt sapien, feugiat blandit turpis mi sit amet libero. Aenean eu sagittis metus, nec aliquam lorem. Morbi varius nisl non purus sagittis posuere. Cras quis tortor vitae. </p>
      
    </div>

    <% Action::CATEGORIES.each do |hashtag, name| %>
      <% next if hashtag.eql?('blueapcall') %>
      <div class = "<%= hashtag %> hidden info_embed badge">
        <%= render "#{hashtag}_info" rescue "No info" %>
      </div>
    <% end %>
  </div>

<div class = "clear"></div>
</div>

<% content_for :javascript_footer do %>
  $('a.ai_switch').click(function(e){ 
    $('a.ai_switch').removeClass('active');
    $(this).addClass('active');

    $('#action_list').hide();
    $('#info_embed').hide();
    var tar = $(this).attr('data-target');
    $(tar).show();
  });

  $('nav ul.left li a').click(function(e){ 
    $('div.badge').hide();
    $('div.info_embed').hide();

    $('nav ul.left li').removeClass('active');
    $(this).parent().addClass('active');
    
    var t = $(this).attr('data-target');
    
    if (t == ".blueapcall"){ $('div.badge.nonstandard').show(); } 
    $('div'+t).show();

    if (t == ".badge"){ $('div#blueap_intro').show(); } else { $('div.info_embed'+t).show(); }
  });

  $(document).foundation();
<% end %>