<% content_for :head do %>
  <script type="text/javascript">
    PDFJS.workerSrc = "<%= path_to_javascript 'pdf.worker.js' %>";
  </script>
  <%= javascript_include_tag "load_pdfs.js" %>
<% end %>

<div class = "trans_background"> 
  <br/>
  
  <div class = "wide row">
    <div class = "large-4 medium-6 small-12 columns">
    <h1 style = "background-color: #FFF; padding: 3% 0em; text-align: left; border-radius: 5px; text-indent: 3%;">
      <%= link_to 'Info.', '#', :data => { :target => "#info_embed" }, 
      :class => "ai_switch active" %> / 
      <%= link_to 'Azioni', '#', :class => "ai_switch", 
        :data => { :target => "#action_list" } %> 
    </h1>
    </div>
  </div>

  <br/>

  <div class="wide row hidden" id = "action_list">
    <% for action in @actions %>
      <% standard  = Action::CATEGORIES.keys.include?(action.hashtag) ? "standard" : "nonstandard" %>
      <div class="medium-6 large-4 columns badge <%= action.hashtag %> <%= standard %>">
        <%= render 'actions/tweet_card', action: action %>
      </div>
    <% end %>
  </div>

  <div class = "information wide row" id = "info_embed" >
    <div class = "info_embed badge " id = "blueap_intro">
      <%= raw(@page.content_for(:all)) %>    
    </div>
    <% Action::CATEGORIES.each do |hashtag, name| %>
      <div class = "<%= hashtag %> hidden info_embed badge">
        <%= raw(@page.content_for(hashtag)) %> 
      </div>
    <% end %>
  </div>

<div class = "clear"></div>
</div>

<% content_for :javascript_footer do %>
  $('a.ai_switch').click(function(e){ 
    $('a.ai_switch').removeClass('active');
    $(this).addClass('active');

    $('#action_list').hide();
    $('#info_embed').hide();
    var tar = $(this).attr('data-target');
    $(tar).show();
  });

  $('nav ul.left li a').click(function(e){ 
    $('div.badge').hide();
    $('div.info_embed').hide();

    $('nav ul.left li').removeClass('active');
    $(this).parent().addClass('active');
    
    var t = $(this).attr('data-target');
    
    if (t == ".blueapcall"){ $('div.badge.nonstandard').show(); } 
    $('div'+t).show();

    if (t == ".badge"){ $('div#blueap_intro').show(); } else { $('div.info_embed'+t).show(); }
  });

  var selectByHash = function(){
    $('div.badge').hide();
    $('div.info_embed').hide();
    $('nav ul.left li').removeClass('active');

    if(window.location.hash) {
      var t = window.location.hash;
    } else {
      var t = ".badge";
    }
    
    var actif = 'nav ul.left li' + t;
    console.log(actif);

    //$('nav ul.left li' + t).parent().addClass('active');

    $('nav ul.left li').removeClass('active');
    $(this).parent().addClass('active');

    if (t == ".blueapcall"){ $('div.badge.nonstandard').show(); } 
    $('div'+t).show();
    if (t == ".badge"){ $('div#blueap_intro').show(); } else { $('div.info_embed'+t).show(); }
  };

  var selectByHash = function(){
    if(window.location.hash) {
      var t = window.location.hash;
      t = t.replace('#', '');
    } else {
      var t = "all";
    }
    var actif = 'nav ul.left li.sel-' + t + ' a';
    console.log(actif);
    $(actif).click();
  };

  $(document).ready(function(){
    selectByHash();
  });
  $(document).foundation();
<% end %>