<% content_for :head do %>
<style type="text/css">
</style>
<% end %>
<div class="picture-background" style = "">
  <h2 id="intro-header">PlayBlueap e' un gioco sociale dove cittadini vengono premiati per azioni a favore della salute ambientale della città</h2>

  <%= image_tag 'icon_water.png', id: "water-icon" %>
  <%= image_tag 'icon_food.png',  id: "food-icon"  %>
  <%= image_tag 'icon_infra.png', id: "infra-icon" %>
  <%= image_tag 'icon_tree.png',  id: "tree-icon"  %>

   <div class = "response bubble" style = "">
    <h3><%= image_tag 'tw.png', style:"padding-left:1%;" %> Che c'è di nuovo?</h3>
    <%= text_area_tag :response, "@playblueap", :id => "response_text" %>
    <a href="#" target="blank" id="respond_link">Rispondi</a>
  </div>

  <div id = "bubble-tweet">
    <% pushdown = 2.5-(@tweet.length/140.0*2.5); pushdown = 0 if pushdown < 0; %>
    <%= content_tag :span, style: "padding-top: #{pushdown}em;" do %>
      <%= @tweet%>
      <%= link_to image_tag('tw.png'), 'http://twitter.com/playblueap', style: "margin-left:0.3em;", 
      :target => '_blank', :class => "ontwitter btn btn-info" %>
    <%end%>
  </div>
</div>

<div style = "background-color:white; padding-top:1em;">

  <div class="wide row">
    <div class="large-offset-8 medium-offset-6 medium-6 large-4 columns">
      <%= link_to 'https://twitter.com/intent/tweet?screen_name=playblueap', target:"_blank", id: "answer" do %>
        <span>RACCONTACI LA TUA AZIONE</span>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="wide row">
    <div class="medium-6 large-4 columns">
      <h3 style = "text-indent:3%; font-size:3em;">Ultime risposte</h3>
    </div>
  </div>
  <br/>
  
  <% @actions << "classifica" %>  
  <div class="wide row">
    <% @actions.each do |action| -%>
      <% if action.eql? "classifica"%>

        <div class="medium-6 large-4 columns">
          <div class = "card">
          <%= link_to actions_path, id: "classifica" do %>
            <span>Classifica...</span>
          <% end %>
          </div>
        </div>

      <% else %>
        <div class="medium-6 large-4 columns">
          <%= render 'actions/tweet_card', action: action %>
        </div>
      <% end %>

    <% end %>
  </div>

</div>   

<% content_for :javascript_footer do %>
  $(document).ready(function(){
    $("a#respond_link").click(function(){
      console.log('arse');
      var turl = "https://twitter.com/intent/tweet?text=" + $('#response_text').val();
      $(this).attr('href', turl);
      return true;
    });
  });
<% end %>
