<% content_for :head do %>
<style type="text/css">
  
  ul.badge_set { display:block; margin:0 auto;   }
  ul.badge_set li { display:inline-block; margin:0.5em; text-align: center; }
  img#blueap_logo, ul.badge_set li img { -moz-opacity: 0.50;
    -khtml-opacity: 0.50;
    opacity: 0.50;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  }

</style>
<% end %>

<%= image_tag 'gray_blueap.png', :id => 'blueap_logo', :style => "width:37%; display: block;
margin: 0 auto;" %>

<div style = "margin:0 auto; width:66%;">
<ul class = "badge_set">
<li><%= image_tag 'all.png' %></li>
<li><%= image_tag 'agriculture.png' %></li>
<li><%= image_tag 'coast.png' %></li>
<li><%= image_tag 'health.png' %></li>
<li><%= image_tag 'city.png' %></li>
<li><%= image_tag 'disaster.png' %></li>
<li><%= image_tag 'water.png' %></li>
<li><%= image_tag 'biodiversity.png' %></li>
<li><%= image_tag 'blueapcall.png' %></li>
</ul>
</div>

<h2 style = "width: 70%;
margin: 5em auto;
text-align: center;
color: #333;
font-size: 1.4em;
line-height: 2em;">PlayBlueap e' un gioco sociale dove cittadini vengono premiati per azioni a favore della salute ambientale della citta'</h2>

<%= image_tag 'actforthecity.png', :style => "width:90%; display:block; margin:0 auto;" %>

<br/>

<%= image_tag 'instruction.png', :style => "width:90%; display:block; margin:0 auto;" %>