<table>  
<tr class="">
  <th>Account</th>
  <th>Text</th>
  <th>Link</th>
  <th>Media</th>
  <th>Reject?</th>
</tr>

<% for action in @actions %>
  <tr>
    <td style = "text-align:center; min-width: 7em; width:10%;">
      <%= link_to action.player.screen_name, "http://twitter.com/#{action.player.screen_name}", :target => "_blank" %></td>
    <td style = "min-width: 9em; width:40%;"><%= action.body %></td>
    <td style = "text-align:center;  min-width: 7em; width:10%;">
      <%= link_to("sito", action.link, :target => "_blank") unless action.link.blank? %>
    </td>
    <td style = "min-width: 4em; width:5%;">
    <%= link_to(image_tag(action.photo_url, :style => "display:block; height:5em; margin:0 auto;"), action.photo_url, :target => "_blank") unless action.photo_url.blank? %>
    </td>
    <td style = "min-width: 7em; width:10%;">
      <span style = "display:block; margin:0 auto; text-align: center;">
        <%= hidden_field_tag "all_actions[]", action.id %>
        <%= check_box_tag "selected_actions[]", action.id, false %>
      </span>
    </td>
  </tr>
<% end %>
</table>

<hr/>

<%= submit_tag 'Reject selected' %>