<%= render 'shared/admin_nav' %>

<h3>Moderate New Tweets</h3>
<%= link_to 'Check for tweets', admin_actions_path(:import_tweets=>true), class: "btn" %>

<%= form_tag moderate_actions_path, :class => "moderation", :method => :put do %>
  <%= render 'accept_table' %>
  <%= submit_tag 'Accept' %>
<% end %>