<%= form_tag moderate_actions_path, :class => "moderation" do %>

  <%= submit_tag 'Accept' %>

  <table>  
  <tr class="badge">
    <th>Account</th>
    <th>Text</th>
    <th>Link</th>
    <th>Media</th>
    <th>Accept?</th>
  </tr>

  <% for action in @actions %>
    <tr class="badge">
      <td><%= action.player.screen_name %></td>
      <td><%= action.body %><td>
      <td>
        <%= link_to("sito", action.link, :target => "_blank") unless action.link.blank? %>
      </td>
      <td>
      <%= link_to(image_tag(action.photo_url, :style => "float:left; height:5em; margin-right:1em;"), action.photo_url, :target => "_blank") unless action.photo_url.blank? %>
      </td>
      <td>
        <%= check_box_tag "action[#{action.id}]", action.id, :checked => true %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= submit_tag 'Accept' %>

<% end %>