<%= render 'shared/admin_nav' %>

<div class = "moderation">
<table>  
<tr class="">
  <th>Name</th>
  <th>Hashtag</th>
  <th>Required Actions</th>
  <th>Manage</th>
</tr>

<% for badge in @badges %>
  <tr>
    <td style = ""><%= badge.name %></td>
    <td style = ""><%= badge.hashtag %></td>
    <td style = ""><%= badge.required_actions %></td>
    <td style = ""><%= link_to 'delete', admin_badge_path(badge) %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to 'Create prize', admin_new_badge_path %>