<!DOCTYPE html>
<html>
<head>
  <title>Play:BlueAp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class ="page_wrap">
  <header style= "padding:0em 1%;">
    <%= link_to image_tag('blueap_logo.png', style: "margin: 1%; width: 66%; max-width: 380px;"), root_path %>
    <%= link_to image_tag("life_logo.jpg"), "http://ec.europa.eu/environment/life/", style: "float:right; margin:1%;" %>
  </header>  
  <% is_admin = ["refinery", "admin_badges", "moderate_actions", "devise", "admin"].include? controller_path.split('/').first %>
  <% klass = is_admin ? "admin" : "" %>
  <%#= controller_path %>
  <div class = "<%= klass %>">
    <%= yield %>
  </div>
</div>

<div style = "background-color:#EEE; padding-top:1em;">
</div>

<footer>
  <div class = "partners">
    <%= link_to image_tag("bologna_logo.png"), "http://www.comune.bologna.it/" %>
    <%= link_to image_tag("sust_logo.png"), "http://www.comune.bologna.it/" %>
    <%= link_to image_tag("ambiente_logo.jpg", style: "height:40px;"), "http://www.ambienteitalia.it/" %>
    <%= link_to image_tag("arpa_logo.png"), "http://www.arpa.emr.it/" %>
    <%= link_to image_tag("kyoto_logo.png"), "http://www.kyotoclub.org/" %>
  </div>
  <div style = "margin-top:2em; background-color:#EEE; color:white; padding:1em; text-align:center;">
    <% if current_user %>
      <%= link_to 'Admin', admin_path %>
    <% else %>
      <%= link_to 'Admin', new_user_session_path %>
      <% end %>
  </div>
</footer>

<%= javascript_tag do %>
  <%= yield :javascript_footer %>
<% end %>

</body>
</html>
