<!DOCTYPE html>
<html>
<head>
  <title>Play:BlueAp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class ="wrapper page_wrap">
  <header style= "padding:0em 1%;">
    <h1>Play:BLUEAP</h1>
  </header>
  <div style = "padding:1%;">
    <%= yield %>
  </div>
</div>

<footer class="site-footer" style = "">
  <div style = "padding:1em; background-color:#111; color:white; height:100%; margin-top:2em;">
    <div style = "margin: 0 auto; width:22%;">
      <%= link_to image_tag("badges.png"), main_app.badges_path %>
      <%= link_to image_tag("community.png"), main_app.actions_path %>
      <%= link_to image_tag("play.png"), main_app.actions_path %>
    </div>
  </div>
</footer>

</body>
</html>
