<!DOCTYPE html>
<html>
<head>
  <title>Play:BlueAp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class ="page_wrap">
  <header style= "padding:0em 1%;">
    
    <%= link_to image_tag('blueap_logo.png', style: "float:left; margin: 1%; width: 66%; max-width: 420px;"), "http://www.blueap.eu" %>
    <%= link_to image_tag("life_logo.jpg"), "http://ec.europa.eu/environment/life/", class: "life_logo", style: "float:left; width:66%; max-width: 380px; margin:1%;" %>
    <div style= "clear:both;"></div>
  </header>

  <% is_admin = ["refinery", "admin_badges", "moderate_actions", "devise", "admin"].include? controller_path.split('/').first %>
  <% klass = is_admin ? "admin" : "" %>
  <% unless is_admin %>
        
    <div class="contain-to-grid sticky">
    <nav class="wide top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      
      <ul class="title-area">
        <li class="name"></li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        
        <ul class="right">
          <li class="has-dropdown">
            <% unless @pages.empty? %>
              <a href="#">Menu</a>
            <% end %>
            <ul class="dropdown">
              <% for page in @pages %>
                <li><%= link_to page.title, page.slug %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class = "active"><%= link_to "Home", root_path %></li>
          <li style="color:#AAA; font-size: 0.8125rem; line-height: 2.8125rem; padding: 0px 0.5rem; padding-top: 2px;">Classifiche: </li>
          <% href = controller.controller_name.eql?("actions") ? "#" : "/actions#" %>
          <li class="sel-all"><a href="<%= href %>" data-target = ".badge">Azioni</a></li>
          <% Action::CATEGORIES.each do |hashtag, name| %>
            <li class="sel-<%= hashtag %>" ><%= link_to "##{hashtag}", main_app.actions_path(anchor: hashtag), data: { target: ".#{hashtag}" } %></li>
          <% end %>
        </ul>

      </section>
    </nav>
    </div>
  <% end %>

  <%#= controller_path %>
  <div class = "<%= klass %>">
    <%= yield %>
  </div>

</div>

<div style = "background-color:#EEE; padding-top:1em;">
</div>

<footer>
  <div class = "partners">
    <%= link_to image_tag("bologna_logo.png"), "http://www.comune.bologna.it/" %>
    <%= link_to image_tag("sust_logo.png"), "http://www.comune.bologna.it/" %>
    <%= link_to image_tag("ambiente_logo.jpg", style: "height:40px;"), "http://www.ambienteitalia.it/" %>
    <%= link_to image_tag("arpa_logo.png"), "http://www.arpa.emr.it/" %>
    <%= link_to image_tag("kyoto_logo.png"), "http://www.kyotoclub.org/" %>
    <p style="font-size:0.85em;"><%= link_to "BLUE AP", 'http://www.blueap.eu' %> (Bologna Local Urban Environment Adaptation Plan for a Resilient City) è un progetto LIFE+ (LIFE11 ENV/IT/119) per la realizzazione del Piano di Adattamento ai Cambiamenti Climatici per il Comune di Bologna <%= link_to 'continua a leggere', "http://www.blueap.eu/site/il-progetto/"%></p>

    <p style="font-size:0.85em;"><%= link_to "BLUE AP", 'http://www.blueap.eu' %> (Bologna Local Urban Environment Adaptation Plan for a Resilient City) is a LIFE+ project for the implementation of an AdaptationPlan to Climate Change for the Municipality of Bologna <%= link_to 'read more', "http://www.blueap.eu/site/en/il-progetto/"%></p>
  </div>


  <div style = "margin-top:2em; background-color:#EEE; color:white; padding:1em; text-align:center;">
    <% if current_user %>
      <%= link_to 'Admin', admin_path %>
    <% else %>
      <%= link_to 'Admin', main_app.new_user_session_path %>
    <% end %>
  </div>
</footer>

<%= javascript_tag do %>
  $(document).foundation();
  <%= yield :javascript_footer %>
<% end %>

</body>
</html>
